{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div
		class="container">
		{#<div class="col-7 mx-auto">#}

		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3">
					<h1>Connectez-vous</h1>

                    {% if hasError %}
                        <div class="alert alert-danger">Email et/ou mot de passe invalide</div>
                    {% endif %}

					<form method="post" action="{{ path('account_login') }}">

						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" name="_username" id="email" class="form-control" required placeholder="Entrez votre email" value="{{username}}">
						</div>

						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input type="password" name="_password" id="password" class="form-control" required placeholder="Entrez votre mot de passe">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Connexion</button>
						</div>

					</form>
				</div>

			</div>
		</div>


		{#</div>#}
	</div>
{% endblock %}
