{% extends 'base.html.twig' %}

{% block title %}Nos annonces !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-3">Voici les annonces de nos hotes</h1>
		<div class="row">
			{% for ad in pagination.data %}
				{% include 'ad/_ad.html.twig' %}
			{% endfor %}
		</div>
		{% include 'common/pagination.html.twig' with {'path' : "ads_index" } %}
	</div>
{% endblock %}


