{% extends 'base.html.twig' %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}

	<div class="container">
		<h1>La page que vous recherchez n'existe pas !</h1>
		<a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
	</div>
{% endblock %}
